<body>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          style="width: 100vw; height: 610px"
          src="../assets/2.jpg"
          alt="Random first slide"
        />
      </div>
      <div
        class="carousel-caption absolute bottom-50 left-1/2 transform -translate-x-1/2 bg-black/50 px-6 py -10 rounded"
      >
        <h1 id="p1" class="font-bold text-white">Employee Data Management.</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          style="width: 100vw; height: 610px"
          src="../assets/1.jpg"
          alt="Random second slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>

  <section class="about">
    <br /><br />
    <div class="container">
      <div class="about-section">
        <h1>About Us Page</h1>
        <br />
        <p>
          The Employee Data Management is a full-stack project built to simplify
          and modernize workforce management for organizations. It provides an
          easy-to-use platform where administrators can manage employee records,
          track details and perform essential operations like adding, updating
          and deleting employee information.
        </p>
      </div>
      <br /><br />
      <h2 style="text-align: center">Our Team</h2>
      <br /><br />
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../assets/team1.jpg" alt="Jane" style="width: 100%" />
            <div class="container">
              <h2>Aditi Sharma</h2>
              <p class="title">Software Engineer</p>
              <p></p>
              <p>aditi.sharma@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../assets/team2.jpg" alt="Mike" style="width: 100%" />
            <div class="container">
              <h2>Rohan Mehta</h2>
              <p class="title">HR Manager</p>
              <p></p>
              <p>rohan.mehta@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../assets/team3.jpg" alt="John" style="width: 100%" />
            <div class="container">
              <h2>Neha Kapoor</h2>
              <p class="title">Project Manager</p>
              <p></p>
              <p>neha.kapoor@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
  </section>
</body>
